// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window {
	font-family: "ITC Benguiat Std", "JetBrains Mono Regular";
	
	padding: 10px;
	
	background-color: $bg-color;
	color: $fg-color;
}