/*------------*/
/*   COLORS   */
/*------------*/

@import 'colors/everforest-dark-hard.css';



* {
  font-family: "ITC Benguiat Std";
  font-size: 15px;

  margin: 1px 1px 1px 1px;
  padding: 0px 0px 0px 0px;

  border-radius: 7px;
}

window#waybar {
  background: linear-gradient(
    to bottom,
    @light-grey,
    @grey
  );

  border-radius: 10px;
}



/* ---------------- */
/*   LEFT MODULES   */
/* ---------------- */

#window {
  padding: 10px 0px 10px 10px;

  color: @green;
  background-color: @grey;
  border: 1px solid @grey;

  font-size: 1px;
}

#group-mediaplayer {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#mpris {
  color: @green;
}
#cava {
  color: @red;
}



/* ------------------ */
/*   CENTER MODULES   */
/* ------------------ */

#clock {
  padding: 8px 0px 0px 0px;
  font-size: 30px;

  color: @green;
  background-color: @grey;
  border: 1px solid @grey;
}

#workspaces {
  color: transparent;
}
#workspaces button {
  margin: 2px 20px 2px 20px;
  padding: 7px 0px 7px 0px;

  background: linear-gradient(
    180deg,
    @grey, @light-grey
  );

  border-radius: 20px;

  transition: all 0.3s ease-in-out;
}
#workspaces button.active {
  margin: 0px 20px 0px 20px;
  padding: 25px 0px 25px 0px;

  background: linear-gradient(
    180deg,
    @red, @green
  );

  border-radius: 20px;
}



/* ----------------- */
/*   RIGHT MODULES   */
/* ----------------- */

#hardware {
  padding: 4px 0px 0px 0px;

  color: @green;
  background-color: @light-grey;
  border: 1px solid @grey;
}

#pulseaudio {
  margin: 0px 7px 0px 7px;
  padding: 8px 0px 8px 0px;

  color: @green;
  background-color: @light-grey;
  border: 1px solid @grey;
}
#pulseaudio-slider {
  min-height: 80px;
}
#pulseaudio-slider slider {
  background-color: @grey;
}
#pulseaudio-slider trough {
  padding: 0px 0px 0px 0px;

  background: @light-grey;
}
#pulseaudio-slider highlight {
  border-radius: 5px;
  background: linear-gradient(
    to bottom,
    @red,
    @green
  );
}

#custom-power {
  padding: 0px 0px 0px 0px;

  color: @red;
  background-color: @light-grey;
  border: 1px solid @grey;

  font-size: 30px;
}
